RewriteEngine on
Options +MultiViews
Options +Indexes

RewriteBase /safiPro/

ErrorDocument 404 http://localhost:8080/safiPro/404page
RewriteCond %{REQUEST_FILENAME} !-d        
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_FILENAME}.php -f    
RewriteCond %{REQUEST_URI} ^(.+)\.php$     
RewriteRule (.*)\.php$ /$1 [R=301,L]  
RewriteRule ^(includes/) - [F,L,NC]